Descriptor.sdf
Descriptor.sln
Descriptor.v12.suo
Descriptor/Descriptor.vcxproj
Descriptor/Descriptor.vcxproj.filters
Descriptor/opencv.props
Descriptor/ReadMe.txt
Descriptor/stdafx.cpp
Descriptor/stdafx.h
Descriptor/targetver.h
Descriptor/x64/Debug/Descriptor.log
Descriptor/x64/Debug/Descriptor.obj
Descriptor/x64/Debug/Descriptor.pch
Descriptor/x64/Debug/Descriptor.tlog/cl.command.1.tlog
Descriptor/x64/Debug/Descriptor.tlog/CL.read.1.tlog
Descriptor/x64/Debug/Descriptor.tlog/CL.write.1.tlog
Descriptor/x64/Debug/Descriptor.tlog/Descriptor.lastbuildstate
Descriptor/x64/Debug/Descriptor.tlog/link.command.1.tlog
Descriptor/x64/Debug/Descriptor.tlog/link.read.1.tlog
Descriptor/x64/Debug/Descriptor.tlog/link.write.1.tlog
Descriptor/x64/Debug/stdafx.obj
Descriptor/x64/Debug/vc120.idb
Descriptor/x64/Debug/vc120.pdb
ipch/descriptor-6d211991/descriptor-e5c48089.ipch
x64/Debug/Descriptor.exe
x64/Debug/Descriptor.ilk
x64/Debug/Descriptor.pdb
